html, body, main {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden
}


.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 0 0 2px #FFFFFF;
    color: #dc3545;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat white;
  opacity: 1;
}

div#footer>div {
  margin-bottom: 10px
}


#demo {
  font-size: 14px
}

#demo>h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 16px
}

#demo>li {
  /* padding: 5px; */
  margin-left: 10px;
  line-height: 20px;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  /* z-index: 1000 !important; */
  left: 0;
  right: 0;
  margin: 0;
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden
}

.leaflet-control-layers {
  color: white !important;
  background-color: none;
  padding: 6px 8px;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

.leaflet-control-zoom, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: white !important;
  padding: 0px !important;
  background-color: none;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

.c3-legend-background {
  fill: transparent;
  stroke: transparent;
}

/* Responsive css */

#infobuttons{
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}

.c3 text {
  font-size: 12px;
}

#info {
  position: absolute;
  width: 25%;
  top: 1%;
  bottom: 50%;
  left: .5%;
  z-index: 1000;
  background: #343a40;
  color: white;
  opacity: 1;
  padding: 15px 15px 15px 15px;
}

.card-deck .card {
  background: #343a40;
  padding: 2px;
  margin-right: 0px;
  margin-left: 0px;
}

.card-body {
  padding: 0;
  margin: 0;
  text-align: center;

}

.card-text {
font-size: 33px !important
}

.card-title {
  color: lightgray;
  font-size: 14px;
  margin-bottom: 0rem;
  font-weight: bold;
}

#legend-panel {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 350px;
  height: 20px;
  z-index: 1000;
  background: #343a4000;
}

#legend-title {
  position: fixed;
  bottom: 30px;
  right: 5px;
  width: 375px;
  height: 20px;
  z-index: 1000;
  background: #343a4000;
}
.legend .card {
  background: #343a4000;
  padding: 0;
}

.legend .card-title {
  font-size: 13px;
  /* text-align: left; */
  /* padding-left: 4px; */
  /* background: #343a4000; */
}

.card-text {
  font-size: 40px;
  text-align: center;
  /* background: #343a4000; */
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}

#title {
  /* margin-bottom: 30px; */
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
}

span {
  margin-right: 20px;
}

#info a {
  color: white;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#date {
  position: relative;
  top: -20px;
  /* bottom: -40px; */
  /* position: relative;
  top: -85px;
  left: 30px; */
  /* text-align: left; */
  font-size: 14px;
  /* font-weight:  */
  color: danger;
  /* font-family: 'Oswald', sans-serif; */
  /* font-size: 48px; */
}

#placename {
  font-size: 40px;
  position: relative;
  /* top: -20px; */
  font-family: 'Oswald', sans-serif;
}

#hint {
  position: relative;
  top: -20px;
  width: 5000px;
  color: gray;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
}

.counts {
  margin-top: 0px;
}

text {
  fill: gray
}

.tick line {
  stroke: gray;
}

.c3-axis path {
  stroke: gray;
}

.c3-bar {
  /* fill: #dc3545 !important; */
}
.name {
  background-color: black;
  color: black
}

.value {
  background-color: black;
  color: black
}

#total-chart {
  position: relative;
  /* top: 10px;
  left: -20px; */
}

#agegroup-chart {
  position: relative;
  /* top: 30px;
  left: -20px; */
}


/* #agegroup-chart>div>table>tbody>tr>td>span {
  background-color: #dc3545 !important
} */

#footer {
  position: relative;
  top: 40px;
  bottom: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
  margin-bottom: 50px;
}

#footer>div {
  font-size: 13px;
}

.cases-count {
  color: #dc3545;
}


.cases-new-count {
  color: orange;
}

/* .suspected-count {
  color: orange;
} */

.neg-count {
  color: #28a745;
}

.death-count {
  color: #5d4f72e8;
}


.confirmed-new-count {
vertical-align:super !important;
font-size:50% !important;
color: #dc3545;
font-style: italic;
font-kerning: normal;
}


.active-new-count {
vertical-align:super !important;
font-size:50% !important;
color: orange;
font-style: italic;
font-kerning: normal;
}


.death-new-count {
vertical-align:super !important;
font-size:50% !important;
color: #5d4f72e8;
font-style: italic;
font-kerning: normal;
}


.neg-new-count {
vertical-align:super !important;
font-size:50% !important;
color: #28a745;
font-style: italic;
font-kerning: normal;
}

#stateButton {
font-size:70% !important;
width: 150px;
}

.virusImg {
  width:auto;
   text-align:center;
   padding:20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  font-size: 12px;
  display: inline-block;
  vertical-align: super;
  opacity: 1;
  color: #737373;
}

/* Tooltip text */
.tooltiptext {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2px;
  top: 100%;
  left: 100%;
  visibility: hidden;
  line-height: 150%;
  width: 200px;
  margin-left: -170px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-bottom: 5px;
  background-color: gray;
  color: #fff;
  font-size: 12px !important;
  /* text-align: center; */
  padding: 5px;
  border-radius: 2px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  opacity: 0.8;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
